<% provide :title, t(".help") %>
<h1><%= t(".help") %></h1>
<p>
  <%= t ".help_rails" %>
  <%= link_to t(".help_page"), Settings.helppage %>
  <%= t ".help_app_book" %>
  <em><%= link_to t(".help_app_book"), Settings.railsbook %></a></em>
</p>
