<% @user ||= current_user %>
<div class="stats">
  <%= link_to following_user_path @user do %>
    <%= t "following" %>
    <strong id="following" class="stat">
      <%= @user.following.size %>
    </strong>
  <% end %>
  <%= link_to followers_user_path @user do %>
    <%= t "followers" %>
    <strong id="follwers" class="stat">
      <%= @user.followers.size %>
    </strong>
  <% end %>
</div>
