<footer class="footer">
  <small>
    The <%= link_to t("rails_tut"), Settings.railstutorial %>
    by <%= link_to "Micheal Hartl", Settings.michealhartl %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><%= link_to t("news"), Settings.news %></li>
    </ul>
  </nav>
</footer>
